In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/content/07 Tweets.csv')
data.head(3)

,truncated,text,in_reply_to_status_id,id,favorite_count,source,retweeted,coordinates,entities,in_reply_to_screen_name,...,retweet_count,in_reply_to_user_id,favorited,user,geo,in_reply_to_user_id_str,lang,created_at,in_reply_to_status_id_str,Label
0,False,"Now 10 dead in a shooting there today RT ""@BBC...",5.530000e+17,5.527850e+17,0,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,"{'symbols': [], 'user_mentions': [{'id': 33165...",BBCDanielS,...,0,331658004.0,False,"{'follow_request_sent': False, 'profile_use_ba...",NaN,331658004.0,en,Wed Jan 07 11:14:08 +0000 2015,5.530000e+17,0
1,False,@BBCDanielS @BBCWorld I'm guessing this is bei...,5.530000e+17,5.527870e+17,0,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,NaN,"{'symbols': [], 'user_mentions': [{'id': 33165...",BBCDanielS,...,0,331658004.0,False,"{'follow_request_sent': False, 'profile_use_ba...",NaN,331658004.0,en,Wed Jan 07 11:20:08 +0000 2015,5.530000e+17,0
2,False,@BBCDanielS @BBCWorld why would you mention th...,5.530000e+17,5.527870e+17,0,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,"{'symbols': [], 'user_mentions': [{'id': 33165...",BBCDanielS,...,1,331658004.0,False,"{'follow_request_sent': False, 'profile_use_ba...",NaN,331658004.0,en,Wed Jan 07 11:20:18 +0000 2015,5.530000e+17,0

In [82]:
data.shape

(100, 27)

In [11]:
ThisDate = data['created_at'][0]
ThisDate

'Wed Jan 07 11:14:08 +0000 2015'

In [87]:
ThisDate.split()[3].split(':')[0]

'11'

In [88]:
%%time
data['TweetYear'] = data['created_at'].apply(lambda x : x.split()[5])
data['TweetMonth'] = data['created_at'].apply(lambda x : x.split()[1])
data['TweetDay'] = data['created_at'].apply(lambda x : x.split()[2])
# data['DayName'] = data['created_at'].apply(lambda x : x.split()[0])
data['WholeDate'] = data.apply(lambda x : pd.Timestamp(str(x['TweetYear']) + '-' + str(x['TweetMonth']) + '-' + str(x['TweetDay'])).day_name()  ,axis=1 )
data['TweetHour'] = data['created_at'].apply(lambda x : x.split()[3].split(':')[0])

def GetDayPartFromHour(n) :
    n = int(n)
    if n<= 6 :
        return 'Early Morning'
    elif  n <=10 :
        return 'Morning'
    elif n <= 13 :
        return 'Noon'
    elif n <= 17 :
        return 'Evening'
    else :
        return 'Night'



data['DayPart'] = data['TweetHour'].apply( lambda ka3bosha : GetDayPartFromHour(ka3bosha))


# 'Wed Jan 07 11:14:08 +0000 2015'


def GetDayNameFromDate(h) :
    ThisYear = h.split()[5]
    ThisMonth = h.split()[1]
    ThisDay= h.split()[2]
    WholeDate = str(ThisYear) + '-' + str(ThisMonth) + '-' + str(ThisDay)
    DayName = pd.Timestamp(WholeDate).day_name()
    return DayName

data['NameOfDay'] = data['created_at'].apply(lambda x : GetDayNameFromDate(x))


def CalculateDayNameFromDate(Y,M,D) :

    WholeDate = str(Y) + '-' + str(M) + '-' + str(D)
    DayName = pd.Timestamp(WholeDate).day_name()
    return DayName




data['NewNameOfDay']  = data.apply(lambda x : CalculateDayNameFromDate(x['TweetYear'],x['TweetMonth'],x['TweetDay']) ,axis=1 )

CPU times: user 43.7 ms, sys: 371 Âµs, total: 44 ms
Wall time: 46.6 ms

In [89]:
data.head(2)

,truncated,text,in_reply_to_status_id,id,favorite_count,source,retweeted,coordinates,entities,in_reply_to_screen_name,...,DayName,WholeData,TweetYear,TweetMonth,TweetDay,WholeDate,TweetHour,DayPart,NameOfDay,NewNameOfDay
0,False,"Now 10 dead in a shooting there today RT ""@BBC...",5.530000e+17,5.527850e+17,0,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,"{'symbols': [], 'user_mentions': [{'id': 33165...",BBCDanielS,...,Wed,2015-Jan-07,2015,Jan,07,Wednesday,11,Noon,Wednesday,Wednesday
1,False,@BBCDanielS @BBCWorld I'm guessing this is bei...,5.530000e+17,5.527870e+17,0,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,NaN,"{'symbols': [], 'user_mentions': [{'id': 33165...",BBCDanielS,...,Wed,2015-Jan-07,2015,Jan,07,Wednesday,11,Noon,Wednesday,Wednesday

In [90]:
data['TweetHour'].value_counts()

TweetHour
11    54
12    12
00     8
17     6
14     5
13     4
16     3
23     2
15     2
18     1
06     1
08     1
21     1
Name: count, dtype: int64

In [91]:
data['DayPart'].value_counts()

DayPart
Noon             70
Evening          16
Early Morning     9
Night             4
Morning           1
Name: count, dtype: int64

In [92]:
data['TweetYear'].value_counts()

TweetYear
2015    100
Name: count, dtype: int64

In [93]:
data['TweetMonth'].value_counts()

TweetMonth
Jan    100
Name: count, dtype: int64

In [94]:
data['TweetDay'].value_counts()

TweetDay
07    89
08    10
11     1
Name: count, dtype: int64

In [95]:
data['DayName'].value_counts()

DayName
Wed    89
Thu    10
Sun     1
Name: count, dtype: int64

In [107]:
pd.Timestamp('2024-Sep-08').day_name()

'Sunday'